<% if current_user %>
  Logged in as: <%= current_user.name %>
  <form method='post' action='/session/end'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign Out'>
  </form>
  <a href="/space/new">Add Space</a>
<% else %>
  <a href="/user/new">Sign Up</a>
  <a href="/session/new">Sign In</a>
<% end %>
