<h1>Current spaces</h1>

<% @all_spaces.each do |space| %>
<ul id="current_space_list">
  <li> <strong> <%= space.name %> </strong>  --- <%= space.description %> --- <%= space.price_per_night.to_i %> </li>
</ul>
<br>
<%end%>
