<h1>Current spaces</h1>


<% @all_available_spaces.each do |space| %>
<ul id="current_space_list">
  <li> <strong>  <%= space.name %> </strong>  --- <%= space.description %> --- <%= space.price_per_night.to_i %>
    <% if current_user %>
      <form class="" action="/booking/new/" method="post">
        <input type="hidden" name="space_id" value="<%=space.id%>">
        <input type="submit" id="booking" value="Make Booking">
      </form>
    <% else %>
      <div>
        <form action="/session/new">
          <input type="submit" name="sign_in_to_book" value="Sign In to Book">
        </form>
      </div>
    <% end %>
   </li>
</ul>
<br>
<%end%>
