<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Makers BnB</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body>
    <div class="container">
    <%= partial :flash %>
    <%= partial :header %>

    <%= yield %>

    <footer class="footer">
      <p>&copy; 2016 Randy Marmer Productions .</p>
    </footer>

  </div> <!-- /container -->
  <script src="js/bootstrap.min.js"></script>
  </body>
</html>
