<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Makers BnB</title>
  </head>
  <body>
    <%= partial :flash %>
    <%= partial :header %>
    <%= yield %>
  </body>
</html>
