<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/session/new" method="post">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Email">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="submit">
    </form>

  </body>
</html>
