<h1>Booking requests</h1>
<% if booking_info %>
  <div class="space">
  <% booking_info.each do |space, user| %>

    <ul id="booking_spaces">
    <strong><%= space.name %></strong>
    <br>
    <% i = 0 %>
      <%  user.each do |user, booking| %>
      <br>
        <li>
          <%= user.name %> ----
          <form class="<%="#{'confirm-'+i.to_s}"%>" action="/booking/confirmation" method="post">
            <input type="hidden" name="booking_id" value="<%=booking.id%>">
            <input type="submit" name="Confirm Booking" value="Confirm Booking">
          </form>
      </li>
      <br>
      <% i += 1 %>
      <%end%>
    </ul>
  <%end%>
  </div>
<%end%>
